<table class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center"
  style="background-color: #f2f2f2; display: table; width: 100%" data-type="button"
  id="013da260-7d9b-2df5-b263-1330b829c130">
  <tbody>
    <tr>
      <td style="padding: 15px 50px 15px 50px;" class="buttons-full-width">
        <table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
          <tbody>
            <tr>
              <td style="margin: 10px 10px 10px 10px;" class="button">
                <a href="#" style="color:#4c4c4c">Don't remind me again</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>