<table class="main" cellspacing="0" cellpadding="0" border="0" align="center"
  style="background-color: #f2f2f2; display: table; width: 100%;" data-type="image">
  <tbody>
    <tr>
      <td align="center" style="padding:40px 50px 20px 50px" class="image">
        <a class="link" href="#" data-link=""><img class="" border="0" align="one_image" width="160"
            style="display:block;" alt=""
            src="https://ci6.googleusercontent.com/proxy/mN8aLHDm0Cs_zvh4KAKViDn1PTzFJp23gCgxyzXB5Mg32WsbOKvVTAEMRp_a-yZ7e6IQ9zwgtw-hffog5JzXfT5dbHS0DApHVSh8=s0-d-e1-ft#https://artsresearch.uwaterloo.ca/~efrisko6/img/logo.png"
            tabindex="0" /></a>
      </td>
    </tr>
  </tbody>
</table>