<table class="main" cellspacing="0" cellpadding="0" border="0"
  style="background-color: #f2f2f2; display: table; width: 100%" align="center" data-type="text-block"
  id="6ce4deee-262b-67d0-8cda-d90f71f2d74f">
  <tbody>
    <tr>
      <td class="block-text" data-clonable="true" align="left"
        style="padding:10px 50px 10px 50px;font-family:Arial;font-size:15px;color:#4c4c4c;line-height:22px">
        <div style="margin:0px 0px 10px 0px;line-height:22px">
          <p>Hi Mona,</p>
          <p>{{editor.message}}</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>