<table class="main" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center"
  style="background-color: #f2f2f2; display: table; width: 100%" data-type="button">
  <tbody>
    <tr>
      <td class="block-text" data-clonable="true" align="left"
        style="padding:15px 50px 0 50px;font-family:Arial;font-size:15px;color:#4c4c4c;line-height:22px">
        <div style="margin:0px 0px 10px 0px;line-height:22px">
          Do not have time now? We can remind you in
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding: 0px 50px;" class="buttons-full-width">
        <table width="" cellspacing="0" cellpadding="0" border="0" align="center" class="button">
          <tbody>
            <tr>
              <td style="padding: 10px" class="button">
                <a style="background-color: #95bee3;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 2px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;"
                  class="button-1" href="#" data-default="1">1 hour</a>
              </td>
              <td style="padding: 10px">
                <a style="background-color: #95bee3;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 2px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;"
                  class="button-1" href="#" data-default="1">2 hours</a>
              </td>
              <td style="padding: 10px">
                <a style="background-color: #95bee3;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 2px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;"
                  class="button-1" href="#" 3-default="1">3 hours</a>
              </td>
              <td style="padding: 10px">
                <a style="background-color: #95bee3;color: #FFFFFF;font-family: Arial;font-size: 15px;line-height:21px;display: inline-block;border-radius: 2px;text-align: center;text-decoration: none;font-weight: bold;display: block;margin: 0px 0px; padding: 12px 20px;"
                  class="button-1" href="#" data-default="1">Customize</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>